In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('eda.csv')

In [3]:
# Menampilkan summary dari data
data_summary = data.info()

# Cek missing value
missing_values = data.isnull().sum()

# Tampilkan summary & missing values
data_summary, missing_values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3244 entries, 0 to 3243
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nama_produk     3244 non-null   object
 1   harga_produk    3244 non-null   object
 2   penjual         3244 non-null   object
 3   kota_toko       3244 non-null   object
 4   banyak_terjual  3244 non-null   object
 5   rating_produk   3244 non-null   float64
dtypes: float64(1), object(5)
memory usage: 152.2+ KB

(None,
 nama_produk       0
 harga_produk      0
 penjual           0
 kota_toko         0
 banyak_terjual    0
 rating_produk     0
 dtype: int64)

In [4]:
# Mendefinisikan fungsi untuk data terjual bersih
def clean_terjual(value):
    if type(value) == str:
        value = value.replace('+', '').replace('terjual', '').strip()
        if 'rb' in value:
            value = value.replace('rb', '000')
        try:
            return int(value)
        except ValueError:
            return None
    return None

# Membersihkan kolom 'banyak_terjual'
data['banyak_terjual'] = data['banyak_terjual'].apply(clean_terjual)

# Merubah Rating Produk menjadi numerik
data['rating_produk'] = pd.to_numeric(data['rating_produk'], errors='coerce')

# Membersihkan kolom 'Harga Produk'
if data['harga_produk'].dtype != 'int64':
    data['harga_produk'] = data['harga_produk'].astype(str).str.replace('Rp', '').str.replace('.', '').astype(int)

# Cek ulang data bersih
cleaned_data_info = data.info()
missing_values_after_cleaning = data.isnull().sum()

# Tampilkan data bersih
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3244 entries, 0 to 3243
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nama_produk     3244 non-null   object
 1   harga_produk    3244 non-null   int64
 2   penjual         3244 non-null   object
 3   kota_toko       3244 non-null   object
 4   banyak_terjual  3244 non-null   int64
 5   rating_produk   3244 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 152.2+ KB
                                         nama_produk  harga_produk  \
0  sepatu casual sneakers santai terbaru pria tre...        180000
1  sepatu boots pria gaya baru model fashion tgf2...        275000
2  Kanky Klasik Story Kagayaku - Sepatu Sneakers ...        388800
3  Kanky Story Honjo - Sepatu Sneakers Casual Spo...        318800
4  Aerostreet X Gian 37-44 Putih Biru Tua Oranye ...        229900

          penjual        kota_toko  banyak_terjual  rating_produk
0  Good Father 40  Jakarta Selatan               5            5.0
1  Good Father 40  Jakarta Selatan               4            5.0
2    Sepatu Kanky     Kab. Bandung            2000            4.9
3    Sepatu Kanky     Kab. Bandung           10000            5.0
4      Aerostreet      Kab. Klaten             100            4.9

In [5]:
data.to_csv("cleaned_data_eda.csv", index=False)